<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>artifactory-project-release</id>
            <username>${env.ARTIFACTORY_USR}</username>
            <password>${env.ARTIFACTORY_PSW}</password>
        </server>
        <server>
            <id>artifactory-project-snapshot</id>
            <username>${env.ARTIFACTORY_USR}</username>
            <password>${env.ARTIFACTORY_PSW}</password>
        </server>
        <server>
            <id>deployit-credentials</id>
            <username>${env.XLDEPLOY_USR}</username>
            <password>${env.XLDEPLOY_PSW}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>artifactory</id>
            <repositories>
                <repository>
                    <id>artifactory-project-release</id>
                    <name>artifactory-project-release</name>
                    <url>https://repository.deere.com/artifactory/it-manufacturing-release</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>artifactory-project-snapshot</id>
                    <name>artifactory-project-snapshot</name>
                    <url>https://repository.deere.com/artifactory/it-manufacturing-snapshot</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>central</id>
                    <url>http://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <!-- RELEASES -->
                    <id>artifactory-project-release</id>
                    <name>artifactory-project-release</name>
                    <url>https://repository.deere.com/artifactory/it-manufacturing-release</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>artifactory-project-snapshot</id>
                    <name>artifactory-project-snapshot</name>
                    <url>https://repository.deere.com/artifactory/it-manufacturing-snapshot</url>
                    <snapshots/>
                </pluginRepository>
                <pluginRepository>
                    <id>central</id>
                    <url>http://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>

</settings>
